
@{
     ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_LayoutForEmployee.cshtml";
}

<link href="~/assets/stylesheets/main.css" rel="stylesheet" />
<html>
	<body>
		 <img src="/assets/images/kapak.png" id="bg" alt=""> 
	</body>
</html>

