@using Microsoft.AspNetCore.Http
@{
    //int id = (int)Context.Session.GetInt32("Id");
    //if(id<0)
    //{
        Layout = "~/Views/Shared/_Layout.cshtml";
    //}
    //else
    //{
    //    Layout = "_LayoutForEmployee";
    //}
    ViewData["Title"] = "About Us";
   
}
<link href="~/assets/stylesheets/aboutUs.css" rel="stylesheet" />
<html>
<body class="bg">
    <div class="col-md-3">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Şirketimiz</h2>
            </header>
            <div class="panel-body">
                <div class="owl-carousel" data-plugin-carousel data-plugin-options='{ "items": 1, "autoHeight": true }'>
                    <div class="item">
                        <img alt="" class="img-responsive" src="/assets/images/sirket.jpg">
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="owl-carousel" data-plugin-carousel data-plugin-options='{ "items": 1, "autoHeight": true }'>
                    <div class="item">
                        <img alt="" class="img-responsive" src="/assets/images/sirket.jpg">
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="owl-carousel" data-plugin-carousel data-plugin-options='{ "items": 1, "autoHeight": true }'>
                    <div class="item">
                        <img alt="" class="img-responsive" src="/assets/images/sirket.jpg">
                    </div>
                </div>
            </div>
        </section>
    </div>

    <hr>

    <div id="AboutUs" class="text-center">
        <h1 class="display-4">Hakkımızda Sayfasına Hoşgeldiniz</h1>
        <p>Biz insan kaynakları desteği veren şirketiz.</p>
        <p>Amacımız, müşterilerimizin taleplerini en iyi şekilde karşılamaktır.</p>
        <p>Hedefimiz, her zaman büyüyerek bu sektördeki en iyi firma olmak.</p>
        <p>Değerli müşterilerimiz ile çalışmak bizim için bir zevktir.</p>
    </div>
</body>
</html>
