@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<body>
    <div class="col-md-3">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Şirketimiz</h2>
            </header>
            <div class="panel-body">
                <div class="owl-carousel" data-plugin-carousel data-plugin-options='{ "items": 1, "autoHeight": true }'>
                    <div class="item">
                        <img alt="" class="img-responsive" src="/assets/images/sirket.jpg">
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="owl-carousel" data-plugin-carousel data-plugin-options='{ "items": 1, "autoHeight": true }'>
                    <div class="item">
                        <img alt="" class="img-responsive" src="/assets/images/sirket.jpg">
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="owl-carousel" data-plugin-carousel data-plugin-options='{ "items": 1, "autoHeight": true }'>
                    <div class="item">
                        <img alt="" class="img-responsive" src="/assets/images/sirket.jpg">
                    </div>
                </div>
            </div>
        </section>
    </div>

    <hr>

    <div id="AboutUs" class="text-center">
        <h1 class="display-4">Hoşgeldiniz</h1>
        <p>Hakkımızda sayfasıdır. Buraya hakkımızda yazılar gelecek</p>
    </div>
</body>
</html>
