@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>insan Kaynakları sitemiz çalışmalarına devam etmektedir. Anlayışınız için teşekkür ederiz.</p>
</div>
*@
<link href="~/assets/stylesheets/main.css" rel="stylesheet" />
<html>
	<body>
		 <img src="/assets/images/kapak.png" id="bg" alt=""> 
	</body>
</html>