@model IEnumerable<HRMVCProjectEntities.Concrete.Employee>

@{
    ViewData["Title"] = "Çalışan Listesi";
}
<!-- start: page -->
<section class="panel bold-olsun">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
        </div>

        <h2 class="panel-title">Çalışanlar Listesi </h2>
    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="datatable-default">
            <thead>
                <tr>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Mail</th>                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="gradeA">
                        <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                        <td class="center hidden-phone">@Html.DisplayFor(modelItem => item.Email)</td>                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

<!-- end: page -->